.users {
  padding: 30px;
  width: 100%;
}
.users .user {
  justify-content: center;
  background-color: transparent;
  max-width: 1000px;
  height: auto;
  margin: 20px auto;
  position: relative;
  padding: 20px 60px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 30px;
}
.users .form-check {
  display: inline-block;
}
